<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozorpay Payment Gateway</title>
</head>
<body>
    <h1>Pay with Rozorpay</h1>
    Amount <input type="number" id="pay-amount">
    <button id="rzy-button">Pay</button>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.querySelector("#rzy-button").onclick = async function(){
            var amount = document.querySelector('#pay-amount').value;

            const order = await fetch ("/create-order", {
                method:"POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({amount: amount})
            }).then(res => res.json());

            var options = {
                key: "<%= key %>",
                amount: order.amount,
                currency: order.currency,
                name: "Aryan-Store",
                description: "Welcome to Aryan Store",
                order_id : order.id,
                header: async function (response) {
                    console.log(response);
                    const verify = await fetch('/verify-payment', {
                        method: "POST",
                        header: {"Content-Type":"application/json"},
                        body: JSON.stringify({response})
                    });

                    if(verify.ok){
                        window.location.href = "/payment-success"
                    }else{
                        alert('Payment Verification failed');
                    }
                    them: { color:"#3399cc"}
                }
            }

            const rzpl = new Rozorpay(options)
            rzpl.open();
        }
    </script>
</body>
</html>